.Container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0;
  padding: 30px;
  position: relative;
  height: fit-content;
}

.ContainerTwo {
  background-color: var(--bg-color-04);
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 40px 50px;
  height: fit-content;
  
  /* overflow-y: scroll; */
}
