.Container {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin-top: -70px;
}

.headerbox {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: white;
  width: 100%;
  -webkit-max-logical-width: 60vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: inline-block;
  height: auto;
  -webkit-min-logical-height: auto;
  -webkit-margin-before: 2vh;
  transition: 0.8s;
  padding: 20px 30px;
}

.horizontalDivider {
    width: 100%;
    height: 1px;
    background-color: var(--color-04);
    margin-bottom: 20px;
}
.verticalDivider {
    height: inherit;
    width: 1px;
    background-color: var(--color-04);
}

@media (max-width: 600px) {
  #navigation-container {
    height: 8rem;
  }
  .headerbox {
    margin-top: 0.75rem;
  }
  .hedaerbox p {
    font-size: 0.8rem;
  }
  .headerbox span {
    font-size: 1rem;
  }
}
@media (min-width: 500px) and (max-width: 900px) {
  .headerbox {
    margin-top: 3%;
  }

  .headerbox p {
    font-size: 1.2rem;
  }
  .headerbox span {
    font-size: 2rem;
  }

  #navigation-container {
    height: 10rem;
  }
}
@media (min-width: 900px) {
  .headerbox p {
    font-size: 36px;
  }
  .headerbox span {
    font-size: 2rem;
  }
}
@media (min-width: 1150px) {
  #navigation-container {
    height: 14rem;
  }
}

.headerbox p {
  font-weight: 900;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.headerbox span {
  font-weight: 900;
}

.ApplicantInfoContainer {
  display: flex;
  justify-content: space-evenly;
}

.ApplicantNameContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 20px;
}

.ApplicantNameContainer button {
    /* height: 40px; */
    height: 0;
    line-height: 0;
    font-size: 1rem;
    padding: 15px 20px;
}

.ApplicantName {
    font-size: 2rem;
    font-weight: 700;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  grid-gap: 10px;
}
